[submodule "cores/ibex/sources"]
	path = cores/ibex/sources
	url = https://github.com/lowrisc/ibex
[submodule "cores/cv32e40p/sources"]
	path = cores/cv32e40p/sources
	url = https://github.com/openhwgroup/cv32e40p.git
[submodule "cores/swerv-el2/sources"]
	path = cores/swerv-el2/sources
	url = https://github.com/hm-riscv/Cores-SweRV-EL2
[submodule "cores/swerv-eh1/sources"]
	path = cores/swerv-eh1/sources
	url = https://github.com/chipsalliance/Cores-SweRV.git
